In [2]:
print("Hello Word!!")

Hello Word!!

In [4]:
True

True

# TIPOS DE DADOS

### STRING

In [6]:
'Esse é um texto do tipo String de aspas simples.'
"Esse é um texto do tipo String de aspas duplas."
'''Esse é um texto do tipo String de aspas triplas simples.'''
"""Esse é um texto do tipo String de aspas triplas duplas."""

'Esse é um texto do tipo String de aspas triplas duplas.'

### CASOS ESPECIAIS DAS STRINGS

ESCAPE CHARACTER

In [8]:
"\"don't look at me\"" # invisible(invisivel) characters

'"don\'t look at me"'

In [10]:
print("\"don't look at me\"")

"don't look at me"

In [11]:
"\n"

'\n'

In [18]:
print("Olá mundo.\nMeu nome é Marcos")
print("Olá mundo. Meu nome é Marcos")
print("Olá mundo.\t Meu nome é Marcos")

Olá mundo.
Meu nome é Marcos
Olá mundo. Meu nome é Marcos
Olá mundo.	 Meu nome é Marcos

## DESAFIO 1: em duas linhas imprima boas vindas ao usuário.

In [ ]:
# solução 1
# dados = input("Digite seu nome e idade: ").split()
# print(f"Olá {dados[0]}.\nSua idade é {dados[1]}.")

# OU

# dados = input("Digite seu nome e idade: ").split()
# print("Olá {}.\nSua idade é {}.".format(dados[0], dados[1]))

#solução 2

nome, idade = input("Digite seu nome e idade: ").split()
print(f"Olá {nome}.\nSua idade é {idade}.")

:

### SPLIT

In [ ]:
# lista, sempre separada por virgulas sem espaço
"nome,idade,cpf,email".split(",")

### MANIPULANDO STRINGS / TEXTO

In [1]:
estados = """
COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [3]:
estados.split()

['COD,NOME,SIGLA',
 '35,São',
 'Paulo,',
 'SP',
 '41,Paraná,',
 'PR',
 '42,Santa',
 'Catarina,',
 'SC',
 '43,Rio',
 'Grande',
 'do',
 'Sul,',
 'RS',
 '50,Mato',
 'Grosso',
 'do',
 'Sul,',
 'MS',
 '11,Rondônia,',
 'RO',
 '12,Acre,',
 'AC',
 '13,Amazonas,',
 'AM',
 '14,Roraima,',
 'RR',
 '15,Pará,',
 'PA',
 '16,Amapá,',
 'AP',
 '17,Tocantins,',
 'TO',
 '21,Maranhão,',
 'MA',
 '24,Rio',
 'Grande',
 'do',
 'Norte,',
 'RN',
 '25,Paraíba,',
 'PB',
 '26,Pernambuco,',
 'PE',
 '27,Alagoas,',
 'AL',
 '28,Sergipe,',
 'SE',
 '29,Bahia,',
 'BA',
 '31,Minas',
 'Gerais,',
 'MG',
 '33,Rio',
 'de',
 'Janeiro,',
 'RJ',
 '51,Mato',
 'Grosso,',
 'MT',
 '52,Goiás,',
 'GO',
 '53,Distrito',
 'Federal,',
 'DF',
 '22,Piauí,',
 'PI',
 '23,Ceará,',
 'CE',
 '32,Espírito',
 'Santo,',
 'ES']

In [6]:
estados.split("\n")

['',
 'COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [12]:
alunos = [
    "pablo",
    "nicolas a.",
    "raquel",
    "patrick",
    "lucas",
    "rafael",
    "rodolpho",
    "natali",
    "victor",
    "thiago",
    "roberval",
    "vinicius",
    "marcos",
    "rodrigo",
    "renan",
    "nicolas f.",
    "thalith",
    "watuse",
    "victoria"
]

In [35]:
# import random

# alunos.pop(alunos.index(random.choice(alunos)))

# RESIQUISITOS PARA SER UM DEV DE RESPEITO

* Python: lógica de programação, portifólio, projetos e softwares criados(que resolvam problemas úteis)
* Banco de dados: CSV, SQL: Sqlite3, Postgres, MySQL
* Bibliotecas: Web (Flask, FastAPI, "DJANGO eu não recomendo), DS (pandas, numpy, tensor flow, spark)
* Processos/programação em nuvem: GCP, AWS, Heroku. (https://www.youtube.com/watch?v=TLRW_xTnQwY&t=1091s)

### OUTROS TIPOS DE STRING / TEXTO

In [50]:
r"raw string" # texto seco, ou cru, literal
b"encoded text" # texto binarizado, encodado

# o teste gerou erro, foi necessario identificar como trasnformar o resultado em padrão binario ...(pesquisar)

"marcos".encode("ascii")

b'marcos'

### LISTAS - Mutáveis

In [45]:
# considerar que o indice sempre inicia em 0
# considerar o indice negativo

frutas = ["tomate", "maça", "morango", "banana", "pêra", "pêssego", "bergamota"]
frutas[-2]

'pêssego'

In [ ]:
# dados = input("Digite seu nome e sobrenome:  ").splyt
# print(dados[0])

nome, sobrenome = input( "Digite seu nome e sobrenome").split()
print(f"{nome[0]}{sobrenome[0]}")
print(nome[0] + sobrenome[0])
print(nome[0], sobrenome[0], sep=" ")

## FUNÇÕES

### CRIANDO FUNÇOES PRÓPRIAS

* função dummy

In [ ]:
# criação de função

def minha_funcao():
    ... # pass (..., 1 ou pass para endline)
    

# chamada de funçao
minha_funcao()

In [11]:
# parâmetro padrão

def func2(parametro1="", parametro2=""):
    return parametro1 + parametro2
    
valor = func2("5","coisas")
print(valor)


# parâmetro obrigatório

def func3(parametro1="", parametro2=""):
    return parametro1 + parametro2
    
valor = func3("5","coisas")
print(valor)

5coisas